.el-header {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

// 左侧导航栏
.el-aside {
  background-color: #fff;
  color: #333;
  line-height: 200px;
  padding: 12px 0;
}

// 内容部分
.el-main {
  color: #333;
  border-radius: 4px;
  margin: 20px;
  padding: 0 !important;
}